In [44]:
import pandas as pd

In [45]:
from scipy import stats

In [46]:
df = pd.read_csv('/Users/luwei/Desktop/experiment_dataset.csv')
df.head()

   Unnamed: 0  Age   Location   Device    Variant  Time Spent       CTR
0           0   62  Location2  Device2    Control   13.928669  0.084776
1           1   18  Location1  Device1  Variant B   11.310518  0.096859
2           2   21  Location2  Device1  Variant B   24.842100  0.097630
3           3   21  Location1  Device3  Variant B   20.061300  0.109783
4           4   57  Location1  Device2  Variant B   34.495503  0.068579

In [47]:
df.drop('Unnamed: 0',axis=1,inplace=True)

In [48]:
df.set_index('Age', inplace=True)

In [49]:
df

      Location   Device    Variant  Time Spent       CTR
Age
62   Location2  Device2    Control   13.928669  0.084776
18   Location1  Device1  Variant B   11.310518  0.096859
21   Location2  Device1  Variant B   24.842100  0.097630
21   Location1  Device3  Variant B   20.061300  0.109783
57   Location1  Device2  Variant B   34.495503  0.068579
..         ...      ...        ...         ...       ...
39   Location2  Device2  Variant B   17.252030  0.092211
38   Location3  Device2    Control   30.075898  0.078151
60   Location2  Device3    Control   31.929223  0.125213
35   Location2  Device2  Variant B   14.680299  0.095423
55   Location1  Device1  Variant B   25.803169  0.166688

[1000 rows x 5 columns]

In [50]:
df.info() #no missing value

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1000 entries, 62 to 55
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Location    1000 non-null   object
 1   Device      1000 non-null   object
 2   Variant     1000 non-null   object
 3   Time Spent  1000 non-null   float64
 4   CTR         1000 non-null   float64
dtypes: float64(2), object(3)
memory usage: 46.9+ KB

In [51]:
#By location
df.groupby('Location')[['Time Spent','CTR']].mean()

           Time Spent       CTR
Location
Location1   22.707286  0.110217
Location2   22.648998  0.108517
Location3   22.787691  0.108708

In [52]:
#checking time spent
loc_1 = df[df['Location'] == 'Location1']['Time Spent']
loc_2 = df[df['Location'] == 'Location2']['Time Spent']
loc_3 = df[df['Location'] == 'Location3']['Time Spent']
p_val = stats.f_oneway(loc_1, loc_2, loc_3)
print(p_val)  # p-value= 0.94783, is high, so that they are statistically the same

F_onewayResult(statistic=0.05357883967057365, pvalue=0.9478339402848069)

In [53]:
#checking CTR
loc_1 = df[df['Location'] == 'Location1']['CTR']
loc_2 = df[df['Location'] == 'Location2']['CTR']
loc_3 = df[df['Location'] == 'Location3']['CTR']
p_val = stats.f_oneway(loc_1, loc_2, loc_3)
print(p_val)

#p-value is not high enough, so they have different CTR based on different location

F_onewayResult(statistic=0.5792245145655729, pvalue=0.5605211716238133)

In [54]:
#By device
df.groupby('Device')[['Time Spent','CTR']].mean()

         Time Spent       CTR
Device
Device1   22.635032  0.109634
Device2   22.890021  0.109868
Device3   22.612276  0.107993

In [55]:
loc_1 = df[df['Device'] == 'Device1']['Time Spent']
loc_2 = df[df['Device'] == 'Device2']['Time Spent']
loc_3 = df[df['Device'] == 'Device3']['Time Spent']
p_val = stats.f_oneway(loc_1, loc_2, loc_3)
print(p_val)

F_onewayResult(statistic=0.2664537181183386, pvalue=0.7661459958744103)

In [56]:
loc_1 = df[df['Device'] == 'Device1']['CTR']
loc_2 = df[df['Device'] == 'Device2']['CTR']
loc_3 = df[df['Device'] == 'Device3']['CTR']
p_val = stats.f_oneway(loc_1, loc_2, loc_3)
print(p_val)

F_onewayResult(statistic=0.7105872492654717, pvalue=0.4916042399968955)

In [57]:
#group by Variant
df.groupby('Variant')[['Time Spent','CTR']].mean()

           Time Spent       CTR
Variant
Control     20.070781  0.098554
Variant A   24.805547  0.120269
Variant B   23.343783  0.108933

In [58]:
loc_1 = df[df['Variant'] == 'Control']['Time Spent']
loc_2 = df[df['Variant'] == 'Variant A']['Time Spent']
loc_3 = df[df['Variant'] == 'Variant B']['Time Spent']
p_val = stats.f_oneway(loc_1, loc_2, loc_3)
print(p_val) #p value is really really low

F_onewayResult(statistic=75.60840947416146, pvalue=2.676826588910432e-31)